<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" >
<body>
<div id="main" layout:fragment="content">
    <div class="container">
        <div th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
            <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
            <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
            <a th:href="@{/}"><span th:text="#{error.backtohome}"></span></a>
        </div>
    </div>
</div>
</body>
</html>
