<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" >
<body>
<div id="main" layout:fragment="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{'/resetpass'}" th:object="${resetpass}" method="post" class="form-horizontal" role="form">
                <h2><span th:text="#{reset.header}"></span> <span th:text="${email}"></span></h2>

                <p class="error-message"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}"
                   th:text="${error}">Validation error</p>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"
                               class="validation-message"></label>
                        <input type="password" th:field="*{oldPassword}" th:placeholder="#{reset.currentpassword}"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               class="validation-message"></label>
                        <input type="password" th:field="*{password}" th:placeholder="#{reset.newpassword}"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"
                               class="validation-message"></label>
                        <input type="password" th:field="*{passwordConfirm}" th:placeholder="#{reset.confirmnewpassword}"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block"><span th:text="#{general.submit}"></span></button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
</body>
</html>