<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" >
<body>
<div id="main" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 th:text="#{questioncategory.questioncategory} "></h2>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a th:href="${'/admin/question-category/'}" class="btn btn-primary mb-2"><span th:text="#{general.gobacktolist}"></span></a>
                    <a th:href="${'/admin/question-category/edit/' + questionCategory.getId()}" class="btn btn-warning mb-2"><span th:text="#{general.edit}"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label th:text="#{questioncategory.name} + ': ' "></label>
            <span th:text="${questionCategory.name}"></span>
        </div>
    </div>
</div>
</body>
</html>